<div class="shadow-md bg-white">
  <app-navbar></app-navbar>
</div>
<body class="bg-gradient-to-b from-blue-300 to-orange-100 flex items-center justify-center min-h-screen">
    <div class="bg-white rounded-lg shadow-md p-8 w-full max-w-md">
      <h2 class="text-2xl font-bold text-center text-blue-900 mb-6">Accede a la Tienda UCN</h2>
      
      <app-form-login></app-form-login>
      <p class="text-center text-sm text-gray-600 mt-4">
        ¿No tienes una cuenta?
        <a href="register" class="text-blue-600 hover:underline font-medium">Crea una ya</a>
      </p>
    </div>
  </body>
  <footer class="bg-gray-800 text-white text-center py-4">
    <p>&copy; 2025 Tienda UCN. Todos los derechos reservados.</p>
  </footer>