<div class="min-h-screen bg-[#F7FAFC]">
    <!-- Navbar -->
    <header class="w-full bg-white shadow-md mb-8">
      <app-navbar></app-navbar>
    </header>
  
    <!-- Contenedor Principal -->
    <main class="sm:px-16 px-8 py-10 bg-white rounded-lg shadow-md mx-auto max-w-6xl">
      <!-- Vista del Usuario -->
      <div class="space-y-10">
        <app-user-view-table></app-user-view-table>
        <app-user-view-interaction></app-user-view-interaction>
      </div>
    </main>

</div>
<app-footer></app-footer>