<div class="min-h-screen bg-[#F7FAFC] flex flex-col items-center px-6">

    <!-- Navbar -->
    <header class="w-full bg-white shadow-md mb-8">
      <app-navbar></app-navbar>
    </header>
  
    <!-- Contenido Principal -->
    <main class="w-full max-w-4xl bg-white rounded-lg shadow-lg p-8">
  
      <!-- Información del Usuario -->
      <div class="flex items-center mb-6">
        <!-- Foto de Perfil -->
        <div class="w-24 h-24 rounded-full overflow-hidden border-4 border-blue-600">
          <img src="https://via.placeholder.com/150" alt="Foto de Perfil" class="w-full h-full object-cover">
        </div>
        <div class="ml-6">
          <h2 class="text-3xl font-semibold text-gray-800">{{ getUser().name }}</h2>
          <p class="text-sm text-gray-500">Rut : {{ getUser().rut }}</p>
        </div>
      </div>
  
      <!-- Información Adicional -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-8">
        <div>
          <h3 class="text-xl font-semibold text-gray-800">Datos Personales</h3>
          <ul class="text-gray-600">
            <li><strong>Fecha de Nacimiento:</strong> {{ getUser().birthdate }} </li>
            <li><strong>Género:</strong> {{ translateGender(getUser().genderType) }}</li>
          </ul>
        </div>
      </div>
  
      <!-- Opciones de Editar y Configuración -->
      <div class="flex justify-between items-center border-t border-gray-200 pt-6">
        <button (click) = "redirectUserEdit()" class="bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700">
          Editar Perfil
        </button>
        <button class="bg-gray-500 text-white px-6 py-2 rounded-lg hover:bg-gray-600">
          Configuración
        </button>
      </div>
  
    </main>
  </div>
  