<table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400 mb-4">
    <thead class="text-sm sm:text-base text-sky-600 text-center bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-1 py-1 sm:px-3 sm:py-3">
                Número
            </th>
            <th scope="col" class="px-1 py-1  sm:px-3 sm:py-3">
                Nombre del producto
            </th>
            <th scope="col" class="px-1 py-1  sm:px-3 sm:py-3">
                Tipo de producto
            </th>
            <th scope="col" class="px-1 py-1  sm:px-3 sm:py-3">
                Precio
            </th>
            <th scope="col" class="px-1 py-1  sm:px-3 sm:py-3">
                Stock
            </th>
            <th scope="col" class="px-1 py-1  sm:px-3 sm:py-3">
                Imagen
            </th>
            <th scope="col" class="px-1 py-1  sm:px-3 sm:py-3">
                
            </th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let product of controller.group?.entities" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
            <th scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ product.id }}
            </th>
            <td class="text-base px-1 py-1 sm:px-3 sm:py-2">
                {{ product.name }}
            </td>
            <td class="text-base px-1 py-1 sm:px-3 sm:py-2">
                {{ translateProductType(product.productType) }}
            </td>
            <td class="text-base px-1 py-1 sm:px-3 sm:py-2">
                {{ product.price }}
            </td>
            <td class="text-base px-1 py-1 sm:px-3 sm:py-2">
                {{ product.stock }}
            </td>
            <td class="text-base px-1 py-1 sm:px-3 sm:py-2">
                
            </td>
            <td class="text-base px-2 py-2 text-center">
                <button type="button" (click) = "addProduct(product)" class="text-white bg-sky-600 hover:bg-sky-500 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-2.5 me-1 mb-1 dark:bg-gray-800 w-2/4 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Agregar</button>
            </td>
        </tr>
        
    </tbody>
</table>